{{ define "main" }}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Join our mailing list</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              The entire committee can be reached at
              <a href="mailto:firstaid-committee@srcf.net"
                >firstaid-committee@srcf.net</a
              >
              and more specific contacts are
              <a href="{{ ref . "committee" }}">here.</a>
            </p>
            <p class="card-text">
              We post events and useful information to our mailing list. This is
              the primary way to stay in touch with everything about CUFAS. Please sign up by emailing <a href="mailto:firstaid-chair@srcf.net">the Chair</a>.
            </p>
         
            

          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Stay in touch on social media</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              We also post events on Facebook so you can more easily track them
              and show your interest. Our Facebook group provides an open forum
              for discussion.
            </p>
            <ul class="fa-ul">
              <li>
                <i class="fa fa-li fa-facebook-official"></i
                ><a href="http://www.facebook.com/cufirstaidsoc"
                  >Facebook page</a
                >
              </li>
              <li>
                <i class="fa fa-li fa-twitter"></i>
                <a href="https://twitter.com/SJACambUnis">Twitter page</a>
              </li>
            </ul>
            <h5>Discord</h5>
            <p>
              Discord is the platform we use to communicate as a unit and
              socially as a society. Join our Discord if you want to say hello
              and meet people in CUFAS!
            </p>
            <a href="https://discord.gg/Tv9rpwf" class="d-block text-center">
                <img src="{{.Site.BaseURL}}/images/discord-chat.png" alt="Discord link" style="max-width:256px; width:100%" class="rounded">
              </a> 
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
