{{ define "main" }}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Join our mailing list</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              The entire committee can be reached at
              <a href="mailto:firstaid-committee@srcf.net"
                >firstaid-committee@srcf.net</a
              >
              and more specific contacts are
              <a href="{{ ref . "committee" }}">here.</a>
            </p>
            <p class="card-text">
              We post events and useful information to our mailing list. This is
              the primary way to stay in touch with everything about CUFAS. Please sign up via <a href="https://lists.cam.ac.uk/sympa/info/soc-cufas-interested">sympa</a> or by emailing <a href="mailto:firstaid-secretary@srcf.net">our Secretary</a>.
            </p>
         
            

          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Stay in touch on social media</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              Keep an eye on our social media for what we're up to!
            </p>
            <ul class="fa-ul">
              <li>
                <i class="fa fa-li fa-facebook-official"></i
                ><a href="http://www.facebook.com/cufirstaidsoc"
                  >Facebook page</a
                >
              </li>
              <li>
                <i class="fa fa-li fa-instagram" aria-hidden="true"></i>
                <a href="https://www.instagram.com/cu.firstaid/">Instagram page</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
