<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Quick links</h5>
                <ul class="fa-ul mb-0">
                    <li><a href="become-cufas-member"><i class="fa fa-li fa-users"></i> Join</a>
                    </li>
                    <li><a href="committee"><i class="fa fa-li fa-id-card-o"></i> Committee</a>
                    </li>
                    <li><a href="contact"><i class="fa fa-li fa-paper-plane-o"></i> Contact</a>
                    </li>
                    <li><a href="legal"><i class="fa fa-li fa-gavel"></i> Legal & Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>SJA links</h5>
                <ul class="fa-ul mb-0">
                    <li><a href="http://www.sja.org.uk/"><i class="fa fa-li fa-link"></i> National website</a>
                    </li>
                    <li><a href="https://sjaconnect.me/"><i class="fa fa-li fa-link"></i> Connect</a>
                    </li>
                    <li><a href="http://dips.sja.org.uk/"><i class="fa fa-li fa-link"></i> DIPS</a>
                    </li>
                </ul>
            </div>

            <div id="sponsor-area" class="col">
                <h5>Support</h5>
                <div class="d-flex align-items-center justify-content-start">
                    <a href="https://www.srcf.net/"><img src="https://www.srcf.net/images/poweredby-light.svg"
                            alt="Powered by the Student-Run Computing Facility (SRCF)"></a>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <p class="mb-0 text-center text-muted">Cambridge Universities First Aid Society &copy;
            {{ now.Format "2006" }} <a href="https://github.com/matiasilva/cufas-web"><i
                    class="ms-2 fa fa-github"></i></a></p>
    </div>
</footer>