<div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card shadow-sm my-2">
        <h5 class="card-header">{{include.position}}</h5>
        {% if include.imgsrc %}
        <img class="mt-3 img-thumbnail d-block rounded-circle cupor-profile" src="{{include.imgsrc}}" />
        {% endif %}
        <div class="card-body">
            <h5>{{include.name}}</h5>
            {% assign desc_para = include.description | newline_to_br | strip_newlines | split: '<br />' %}
            {% for para in desc_para %}
            <p class="card-text">{{para}}</p>
            {% endfor %}
            {% if include.emailforward %}
            <h6>
                <i class="fa fa-fw fa-paper-plane-o mr-2"></i>Email: <a href="mailto:cupor-{{include.emailforward}}@srcf.net">firstaid-{{include.emailforward}}@srcf.net</a>
            </h6>
            {% endif %}
            {% if include.mobile %}
            <h6>
                <i class="fa fa-fw fa-phone mr-2"></i>Mobile: {{ include.mobile }}
            </h6>
            {% endif %}
        </div>
    </div>
</div>